<?php
/**
 * @var Swift\PaxxDelivery\Block\Adminhtml\Order\ShippingInformation $block
 */
?>

<div class="admin__page-section-item">
    <?php if ($shippingId = $block->getShippingId()): ?>
        <div class="admin__page-section-item-title">
            <span class="title"><?= $block->escapeHtml(__('Additional Shipping Information')) ?></span>
        </div>
        <div class="admin__page-section-item-content">
            <strong>Shipping ID:</strong>
            <?= $shippingId ?>
        </div>
        <br>
    <?php endif; ?>
</div>
